body {
    background: rgb(234, 234, 234);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#secondary-tasks {
    font-size: 40px;
}

#tasks {
    font-size: 22px;
    font-weight: 560;
}

#box1 {
    height: 22px;
    width: 21px;
}

#box2 {
    height: 22px;
    width: 22px;
}

#box3 {
    height: 22px;
    width: 22px;
}

.box {
    height: 22px;
    width: 22px;
}

#submit-btn {
    height: 30px;
    width: 68px;
    border-radius: 5px;
    font-size: 17px;
    font-weight: 520;
}

#adding-btn {
    height: 30px;
    width: 130px;
    border-radius: 5px;
    font-size: 17px;
    font-weight: 520;
}

#delete-btn {
    height: 30px;
    width: 110px;
    border-radius: 5px;
    font-size: 17px;
    font-weight: 520;
    margin-top: 5px;
}

#edit-btn {
    height: 30px;
    width: 90px;
    border-radius: 5px;
    font-size: 17px;
    font-weight: 520;
}